{% extends 'base.html' %}
{% block content %}
{% if post.user.username == user.username %}
<div style="text-align: right; font-size: 13pt">
<a href="{{post.get_update_url}}">Изменить пост</a>
</div>
<div style="text-align: right; font-size: 13pt">
<a href="{{post.get_delete_url}}">Удалить пост</a>
</div>
{% endif %}
<h1 class="mb-5" style="text-align: center;">{{post.title}}</h1>
<p style="text-align: center;">{{post.body}} -- {{post.user}}</p>
<div style="text-align: center;">
        Теги:
        {% for tag in post.tags.all %}
            <a href="{{tag.get_absolute_url}}">{{tag.title}}</a>
        {% endfor %}
</div>
{% endblock %}