{% extends 'base.html' %}
{% block content %}
{% if tag.user.username == user.username %}
<div style="text-align: right; font-size: 13pt">
<a href="{{tag.get_update_url}}">Изменить тег</a>
</div>
<div style="text-align: right; font-size: 13pt">
<a href="{{tag.get_delete_url}}">Удалить тег</a>
</div>
{% endif %}
<h1 class="mb-5" style="text-align: center;">Посты с тегом "{{tag.title|title}}"---{{tag.user}} :</h1>
{% for post in tag.posts.all %}
    {% include 'postapp/includes/post_card.html' %}
{% endfor %}
{% endblock %}