{% extends 'makeup/base.html' %}
{% block content %}
{% if user.is_authenticated %}
    <form action="{% url 'makeup:care_polls' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="'form-group">
                <h5>Компании</h5>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit">Голосовать</button>
    </form>
{% else %}
    <h5>Для голосования нужно войти на сайт или зарегестрироваться, если вы не зарегестрированы</h5>
{% endif %}

{% endblock content %}