{% extends 'base.html' %}
{% block content %}
    <h3>Здесь вы можете видеть средства и описания к ним, которые используются в макияже.</h3>
    <p>На страничке "Голосование" вы можете проголосовать за свой любимый продукт и посмотреть мнение других людей.</p>
        {% for decoration in decor_list %}
            <h5>{{decoration.product_type}}</h5>
            <p>Описание: {{decoration.product_info}}</p>
            <p>Цены: бюджет  - {{decoration.budget}} грн ; люкс - {{ decoration.lux }} грн </p>
            <img src="{{decoration.pic}}" width=20%>
        {% endfor %}
{% endblock content %}