{% extends 'templates/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/types.css' %}">
</head>

<body>
    <h1>Проголосовать за: </h1>
    <div class="cont-first">
        <img src="/static/media/cloud-png.png" class="image">
        <a class="type" href="{% url 'makeup:decor_polls' %}">Декоративная</a>
    </div>
    <div class="cont-second">
        <img src="/static/media/cloud-png.png" class="image">
        <a class="type" href="{% url 'makeup:care_polls' %}">Уход</a>
    </div>
</body>

{% endblock content %}